<nav class="navbar navbar-default">
  <div class="container-fluid">
  	<h2>Costa Rica Cafe</h2><br>
    <br>
    <br>
  	<span> <%= render 'search'%> </span>
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
       
      <ul class="nav navbar-nav navbar-right">
        <button type="button" class="btn btn-default btn-lg">
    		  <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>Checkout
  		  </button>
        
        <li><a href="#">Grab a Cup!</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Roasts <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Light</a></li>
            <li><a href="#">Medium</a></li>
            <li><a href="#">Dark</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
    <!-- omniauth -->
    <div id="user-widget">
      <% if current_user %>
        Hello, <strong><%= current_user.name %></strong>!
        <%= link_to "Sign out", signout_path, id: "sign_out" %>
      <% else %>
        <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>
      <% end %>
    </div>
  </div><!-- /.container-fluid -->
</nav>

