

<% if @cafes != nil %>

    <!-- Pagination -->
    <div class="paginate"> <%= will_paginate @cafes %> </div>

    <!-- Creates Container and rows for Cafes -->
    <div class="container-fluid">
        <div class="row">
            <!-- Loops through cafes -->
            <% @cafes.each do |cafe| %>

                <div class="col-xs-6 col-md-4 thumbnail cafegrid">

                    <% if cafe[:mimg] %>         
                        <%= link_to image_tag(cafe[:mimg]), cafe_path(cafe.id)  %>
                        <%= link_to (cafe[:desc]), cafe_path(cafe.id)  %>
                        <%= link_to (cafe[:fprice]), cafe_path(cafe.id)  %>
                    <% else %>
                        <img src="https://placehold.it/160?text=no+image" alt="" />
                    <% end %>
                </div>   
            <% end %>     
        </div>     
    </div>   
<% end %>


