
<%# raise @cafe.inspect %>
<div class="col-md-6 col-md-offset-3">
	<h3><%= @cafe.desc %></h3>
	<div class="showimage">
	<%= image_tag(@cafe[:limg]) %>
	</div>
	<ul>
	<% cafe = JSON.parse(@cafe.feature) %>
	<%= cafe.each do |x|%>
	<li> <%= x %> </li>

	<% end %>
	</ul>
</div>

