/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import url(https://fonts.googleapis.com/css?family=Rock+Salt);

body {
	margin: 10px;
}
nav {
	font-family: 'Rock Salt', cursive;
	padding: 15px;
	padding-top: 18px;
	font-size: 16px;
}

h2 {
	font-family: 'Rock Salt', cursive;
	font-size: 40px;
	float: left;
	padding-right: 35px;
	color: #32CD32
}
h3 {
	font-family: 'Rock Salt', cursive;
	font-size: 22px;
	padding-top: 10px;
	line-height: 200%;
}
span {
	float: left;
	font-family: 'Rock Salt', cursive;
}
.showimage {
	padding-left: 8%;
}
.row {
	border-top: 1px solid #f4f4f4;
	border-bottom: 1px solid #f4f4f4;
}
.col-xs-6, .col-md-4 {
	border: none;
}
.cafegrid {
	height: 235px;
	padding: 8px;
}
.mimg {
	padding: 10px;
}
.desc {
	padding: 10px;
}
#page_nav a{
	padding: 0 20px 0 20px;
	font-size: 20px;
}
#user-widget a{
	padding: 0 15px 0 15px;
}
/*.paginate {
	font-family: 'Rock Salt', cursive;
	letter-spacing: 5px;

}*/